/*--------------------
fonts
----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/*--------------------
variables
----------------------*/
:root {
  --main-color: #ffe156;
  --contrast-color: #fe5f00;
  --netural-color: #0a100d;
  --cursive-font: "Dancing Script", cursive;
  scroll-behavior: smooth;
}
/*--------------------
Global settings
----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #fe5f00;
  background-color: #ffe156;
  height: 100vh;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--contrast-color);
}
a:hover {
  color: var(--netural-color);
}
ul {
  list-style: none;
}
h1 {
  font-weight: 700;
  color: var(--contrast-color);
}
h2 {
  font-weight: 600;
  color: var(--contrast-color);
}
h3,
h4 {
  font-weight: 400;
  color: var(--contrast-color);
}
p {
  font-size: 16px;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.sec-padding {
  padding: 80px 0;
}
section {
  overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  height: 100%;
}

/* section title */
.section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 35px;
  text-transform: capitalize;
  position: relative;
}
.section-title h2::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 2px;
  display: block;
  font-size: 24px;
  background-color: var(--contrast-color);
  bottom: 0;
  left: 43%;
  color: var(--main-color);
  font-family: var(--cursive-font);
  font-weight: 400;
  text-transform: capitalize;
}
/* buttons */
.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.3s ease;
  font-size: 18px;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--contrast-color);
  color: var(--main-color);
  line-height: 1.5;
  user-select: none;
  border: none;
}
.btn-default {
  border: 2px solid var(--main-color);
}
.btn-default:hover {
  color: var(--contrast-color);
  background-color: var(--main-color);
}
/* animation keyframes */
@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes spin01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pageLoader {
  0%,
  100% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
}
/*loading*/
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--contrast-color);
}
.overlay > div {
  background-color: var(--contrast-color);
  color: var(--main-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40rem;
}
.overlay > div > * {
  margin: 2rem;
}
/*--------------------
Navigation styles starts here
----------------------*/
.header {
  padding: 12px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header .nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 280px;
  background-color: var(--dark-light);
  box-shadow: var(--shadow);
  overflow-y: auto;
  padding: 80px 0 40px;
  transition: transform 0.5s ease;
  transform: translateX(100%);
}
.Rlogo {
  color: #fe5f00;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serifs;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
}
/* homepage styles starts*/
.home-section {
  position: relative;
  overflow: hidden;
}
.home-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--netural-color);
  opacity: 0.2;
  z-index: -1;
}
.home-section .home-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("images/header.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -2;
  animation: zoomInOut 20s ease infinite;
}
.home-section .min-vh-100 {
  padding: 100px 0;
}
.home-text {
  padding: 0 15px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.home-text h1 {
  font-family: var(--cursive-font);
  font-size: 60px;
  line-height: 75px;
  margin: 0 0 5px;
}
.home-content {
  min-height: 100vh;
  align-items: center;
}
/* homepage styles ends here*/
/* -------------
 About us styles starts here
 ---------------*/
.about-section {
  background-color: var(--main-color);
  padding: 80px 0;
  min-height: 100vh;
}
.about-text,
.about-img {
  width: 50%;
  padding: 0 15px;
}
.about-text h3 {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0 0 15px;
}
.about-text p {
  margin: 0 0 15px;
  font-size: 20px;
}
.about-text .btn {
  margin: 15px 0 0;
}
.about-img img {
  width: 100%;
  border-radius: 10px;
}
.about-img .img-box {
  position: relative;
}
.about-img .img-box::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border: 3px solid var(--main-color);
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  animation: spin01 10s linear infinite;
}
.about-img .img-box h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 250px;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: var(--cursive-font);
  color: var(--dark);
  font-weight: bold;
  text-transform: capitalize;
}
/*---------------
About us section ends here
-----------------*/
/*---------------
Our menu section starts here
-----------------*/
.menu-section {
  background-color: inherit;
  padding: 80px 0;
  min-height: 100vh;
  background-color: var(--main-color);
}
.menu-content {
  margin-left: 60px;
}
/*product styling*/
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
}
.products li {
  flex: 0 1 20rem;
  margin: 1rem;
  margin-bottom: 1.1rem;
  height: 10rem;
  flex-direction: column;
  border-top: 0.2rem var(--contrast-color);
}
.desc :hover {
  color: var(--netural-color);
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.product img {
  margin-top: 1rem;
  border-radius: 20%;
  width: 160px;
  height: 110px;
  object-fit: cover;
  padding: 3px;
  object-position: center;
}
.product-name {
  line-height: 1rem;
  font-weight: 500;
  font-size: 18px;
}
.desc p {
  font-size: 12px;
  font-weight: 300;
  font-family: "Poppins", sans-serifs;
  color: var(--contrast-color);
  text-align: center;
}
.product-price {
  font-size: 16px;
  font-weight: 400;
}
/*---------------
Our menu section ends here
-----------------*/
/*product screen starts here*/

.content-d {
  display: flex;
}
.content {
  padding-top: 10vh;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 20px;
}
.details-image {
  flex: 2 1 15rem;
  margin-right: 10px;
  margin-left: 10px;
}
.details-image img {
  max-width: 30rem;
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.details-info,
.details-action {
  flex: 1 1 15rem;
}
.details-info ul,
.details-action ul {
  padding: 0;
}
.details-action {
  border: 0.1rem var(--contrast-color) solid;
  border-radius: 0.5rem;
  background-color: #ffd726;
  padding: 1rem;
  height: 180px;
}
.back-to-menu {
  margin-bottom: 15px;
  margin-left: 10px;
}
.error {
  color: #000;
}
/*---------------
Cart styles starts here
-----------------*/
.cart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 30rem;
}
.cart-action {
  flex: 1 1 10rem;
  border-radius: 0.5rem;
  background-color: #ffd726;
  margin-left: 10px;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem var(--contrast-color) solid;
}
.cart-list-container img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  text-align: right;
}

/*---------------
Cart styles end here
-----------------*/
/*---------------
Sign-in styles start here
-----------------*/
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form-items {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #fe5f00 solid;
  border-radius: 0.5rem;
}
.form-items li {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form-container h1 {
  font-size: 1.5rem;
}
form {
  padding-top: 10vh;
}
/*---------------
Sign-in styles end here
-----------------*/
/*
profile styles
*/
.profile {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
/*---------------
Contact us starts here
-----------------*/
.ah-img img {
  width: 100%;
  border-radius: 10px;
  height: 400px;
}

/*---------------
Contact us ends here
-----------------*/
/* Checkout */
.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem var(--netural-color) solid;
  color: var(--netural-color);
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  color: var(--contrast-color);
  border-top-color: var(--contrast-color);
}
/* Order */
.order {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.order h2 {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.order .cart-list-container {
  padding: 0;
}
.order-info {
  flex: 3 1 60rem;
}
.order-info > div {
  border: 0.1rem var(--contrast-color) solid;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  padding: 1rem;
  margin: 1rem;
}
.order-info > div:first-child {
  margin-top: 0;
}
.order-action {
  flex: 1 1 20rem;
  border: 0.1rem var(--contrast-color) solid;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  padding: 1rem;
}
.order-action > ul {
  padding: 0;
  list-style-type: none;
}
.order-action li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.order-action .total {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
/*---------------
footer styles starts here
-----------------*/
.footer {
  padding: 50px 0 0;
  background-color: var(--contrast-color);
}
.footer-item {
  text-align: center;
}
.footer-item p {
  color: #ffe156;
  line-height: 30px;
}
.footer-item h3 {
  color: #ffe156;
}
.copyright {
  color: var(--main-color);
}
/*---------------
footer styles ends here
-----------------*/

/*---------------
Resposive section
-----------------*/
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fe5f00;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #fe5f00;
    color: #ffe156;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
